@import "~bootstrap/scss/bootstrap";

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}


.content {
  margin: 15px;
}


#theme-toggle {
  align-self: end;
}
